.mainContainer {
    width: 60em!important;
}
.logoMain {
    min-width: 15vw;
    padding-left: 37%
}

.buttonRow {
    padding-left: 37%;
    padding-top: 2%;
}

.gxEHeY{
    margin: 0 6em!important;
}

.formRow {
    padding-left: 7%;
}

h4.welcomeText{
    padding-left: 37%;
    padding-top: 2%;
}

h7.welcomeText {
    padding-left: 32%;
}

.welcomeText {
    color: #fff;
}