body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 500px;
  
}

body {
  padding: 0px;
  background-color: #66CCFF;
  font-family: sans-serif;
  
}
#container {
  display: flex;
  justify-content: center;
}