.container{
    height: 100%;
    width: 90%;
    left: 25%;
    top: 10%;
    background-color: #F5F5F5;
    padding: 1em;
    padding-bottom: 4em;
    border-radius: 10px;
    margin-left: 19em;
    
}

.rbc-day-bg.rbc-today, .rbc-day-slot.rbc-today {
    background-color: #2fef4a;
}

.confirmBtn{
    background-color: #2fef4a;
    color: #fff; 
}